@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-yellow: hsl(47, 88%, 63%);
    --color-white: hsl(0, 0%, 100%);
    --color-gray-500: hsl(0, 0%, 42%);
    --color-gray-950: hsl(0, 0%, 7%);

    --font-display: "Figtree", "sans-serif";
  }

.mycustom-multi-shadow {
  box-shadow: inset 0 0 0 1px var(--color-gray-950), 8px 8px 0 0 rgba(0, 0, 0, 1);
}

.attribution {
  position: absolute;
  bottom: 0;
}

.attribution a {
  color: hsl(303, 80%, 47%);
}

@media screen and (max-height: 573px) {
  .attribution {
    position: static;
  }
}